---
layout: default
title: The Beauty and Joy of Computing
---

<div class="jumbotron homepage">
  <div class="background-overlay"></div>
  <div class="container">
    <h1>The Beauty and Joy <br>of Computing</h1>
    <p>Nederlandstalig leren programmeren!</p>
    <a href="https://bjc.edc.org" target="_blank" class="btn">
      Naar de cursus
    </a>
    <a href="{{ site.baseurl }}/summer-pd/" class="btn">Nascholing</a>
  </div>
</div>

<section class="section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center">
        <img src="{{ site.baseurl }}/assets/img/bjc.png" class="bjc-logo">
        <p class="lead">
          <strong>The Beauty and Joy of Computing (BJOC-nl) 🇳🇱</strong> is een inleidende cursus programmeren. Van oorsprong in het Engels en gemaakt door University of California in Berkeley. Nu volledig in het Nederlands! Deze cursus is bedoeld voor iedereen die geen informatica heeft gehad op de middelbare school. Ook is dit een goede cursus om je vaardigheden scherp te houden. En natuurlijk kun je ook deze cursus volgen als je nog niet kunt programmeren!
        </p>
        <a href="{{ site.baseurl }}/curriculum" class="btn">
        Wat is er bijzonder aan BJOC-NL?
        </a>
      </div>
    </div>
  </div>
  <div class="trapezoid"></div>
</section> <!-- /. section -->
<!--
<div class="jumbotron headlines">
  <div class="background-overlay"></div>
  <div class="container">
    <h3><a href="{{ site.baseurl }}{% post_url 2015-01-01-bjc-for-new-york %}">We're bringing BJC to New York City!</a></h3>
    <a href="{{ site.baseurl }}{% post_url 2015-01-01-bjc-for-new-york %}" class="btn">Learn More</a>
  </div>
</div>
-->
<div class="section homepage">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-4">
        {% include front-page/left-panel.html %}
      </div>
      <div class="col-sm-4">
        {% include front-page/center-panel.html %}
      </div>
      <div class="col-sm-4">
        {% include front-page/right-panel.html %}
      </div>
    </div>
  </div>
  <div class="trapezoid"></div>
</div> <!-- /. section -->
